body{
    background-color: black;

}
.search{
    color: black;
   
}
.search input{
    border: 2px solid white;
    border-radius: 30px;
    margin-left: 350px;  
    margin-top: 20px;
    width: 500px;
    padding: 15px;
}
