/*.......... NavBar .......*/

.navbar{
    height: 50px;
    background-color:rgb(5, 7, 11);
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: bold;
  }
  
  .navButton{
    margin-left: 20px;
    background-color: rgb(5, 7, 11);
    border: none;
    font-weight: bold;
    padding: 10px 10px;
    cursor: pointer;
    color: white;
  }
  
  
  /*.......... NavBar .......*/

  /*.......... Vehciles...... */
    .vehicle{
      height: 594px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .bikes{
      position: relative;
    }
     .bikes img{
      height: 100%;
      width: 100%;
      opacity: 0.5;
    }
    
    .bikes .bikeBtn{
      position: absolute;
      top: 420px;
      left: 420px;
      background-color: black;
      color: white;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    .cars{
      
      position: relative;
    }

    .cars img{
      height: 100%;
      width: 100%;
      opacity: 0.5;
    }

     .cars .carBtn{
      position: absolute;
      top: 420px;
      left: 150px;
      background-color: black;
      color: white;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      
    }

  /*.......... Vehciles...... */